@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900);/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
  padding: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Trumbowyg v2.9.4 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

#trumbowyg-icons {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 0;
}

#trumbowyg-icons svg {
  height: 0;
  width: 0;
}

.trumbowyg-box {
  z-index: 9999;
}

.trumbowyg-box *,
.trumbowyg-box *::before,
.trumbowyg-box *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.trumbowyg-box svg {
  width: 17px;
  height: 100%;
  fill: #222;
}

.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
  min-height: 300px;
  margin: 17px auto;
}

.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

.trumbowyg-box.trumbowyg-fullscreen {
  background: #FEFEFE;
  border: none !important;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
}

.trumbowyg-editor.trumbowyg-autogrow-on-enter,
.trumbowyg-textarea.trumbowyg-autogrow-on-enter {
  -webkit-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
}

.trumbowyg-box-blur .trumbowyg-editor *,
.trumbowyg-box-blur .trumbowyg-editor::before {
  color: transparent !important;
  text-shadow: 0 0 7px #333;
}

@media screen and (min-width: 0 \0) {
  .trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

.trumbowyg-box-blur .trumbowyg-editor img,
.trumbowyg-box-blur .trumbowyg-editor hr {
  opacity: 0.2;
}

.trumbowyg-textarea {
  background: red;
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
  height: 1px !important;
  width: 25%;
  min-height: 0 !important;
  padding: 0 !important;
  background: none;
  opacity: 0 !important;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
  display: block;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-editor {
  display: none;
}

.trumbowyg-box.trumbowyg-disabled .trumbowyg-textarea {
  opacity: 0.8;
  background: none;
}

.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
  pointer-events: none;
}

.trumbowyg-button-pane {
  width: 100%;
  min-height: 36px;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0 5px;
  position: relative;
  list-style-type: none;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 11;
}

.trumbowyg-button-pane::after {
  content: " ";
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d7e0e2;
}

.trumbowyg-button-pane .trumbowyg-button-group {
  display: inline-block;
}

.trumbowyg-button-pane .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-button-pane .trumbowyg-button-group + .trumbowyg-button-group::before {
  content: " ";
  display: inline-block;
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
  vertical-align: top;
}

.trumbowyg-button-pane button {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 1px 6px !important;
  margin-bottom: 1px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: none;
  vertical-align: middle;
  -webkit-transition: background-color 150ms, opacity 150ms;
  transition: background-color 150ms, opacity 150ms;
}

.trumbowyg-button-pane button.trumbowyg-textual-button {
  width: auto;
  line-height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.trumbowyg-button-pane.trumbowyg-disable button:not(.trumbowyg-not-disable):not(.trumbowyg-active),
.trumbowyg-disabled .trumbowyg-button-pane button:not(.trumbowyg-not-disable):not(.trumbowyg-viewHTML-button) {
  opacity: 0.2;
  cursor: default;
}

.trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before,
.trumbowyg-disabled .trumbowyg-button-pane .trumbowyg-button-group::before {
  background: #e3e9eb;
}

.trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-button-pane button.trumbowyg-active {
  background-color: #FFF;
  outline: none;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button {
  padding-left: 10px !important;
  padding-right: 18px !important;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button::after {
  top: 17px;
  right: 7px;
}

.trumbowyg-button-pane .trumbowyg-right {
  float: right;
}

.trumbowyg-button-pane .trumbowyg-right::before {
  display: none !important;
}

.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  z-index: 12;
}

.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 10px;
  color: #333 !important;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-dropdown button:hover,
.trumbowyg-dropdown button:focus {
  background: #ecf0f1;
}

.trumbowyg-dropdown button svg {
  float: left;
  margin-right: 14px;
}

/* Modal box */

.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 520px;
  width: 100%;
  height: 350px;
  z-index: 12;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 500px;
  width: calc(100% - 20px);
  padding-bottom: 45px;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.trumbowyg-modal-box .trumbowyg-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 0 13px;
  display: block;
  border-bottom: 1px solid #EEE;
  color: #333;
  background: #fbfcfc;
}

.trumbowyg-modal-box .trumbowyg-progress {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 58px;
}

.trumbowyg-modal-box .trumbowyg-progress .trumbowyg-progress-bar {
  background: #2BC06A;
  width: 0;
  height: 100%;
  -webkit-transition: width 150ms linear;
  transition: width 150ms linear;
}

.trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}

.trumbowyg-modal-box label .trumbowyg-input-infos {
  display: block;
  text-align: left;
  height: 25px;
  line-height: 25px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span {
  display: block;
  color: #69878f;
  background-color: #fbfcfc;
  border: 1px solid #DEDEDE;
  padding: 0 7px;
  width: 150px;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border: 1px solid #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error .trumbowyg-input-infos {
  margin-top: -27px;
}

.trumbowyg-modal-box label input {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  line-height: 27px;
  border: 1px solid #DEDEDE;
  background: #fff;
  font-size: 14px;
  max-width: 330px;
  width: 70%;
  padding: 0 7px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label input:hover,
.trumbowyg-modal-box label input:focus {
  outline: none;
  border: 1px solid #95a5a6;
}

.trumbowyg-modal-box label input:focus {
  background: #fbfcfc;
}

.trumbowyg-modal-box .error {
  margin-top: 25px;
  display: block;
  color: red;
}

.trumbowyg-modal-box .trumbowyg-modal-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 33px;
  margin: 0 10px;
  background-color: #333;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif;
  font-size: 16px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  right: 110px;
  background: #2bc06a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover,
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #40d47e;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #25a25a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  color: #555;
  background: #e6e6e6;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover,
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #fbfbfb;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #d5d5d5;
}

.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  display: none;
  top: 0;
  z-index: 10;
}

/**
 * Fullscreen
 */

body.trumbowyg-body-fullscreen {
  overflow: hidden;
}

.trumbowyg-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.trumbowyg-fullscreen.trumbowyg-box,
.trumbowyg-fullscreen .trumbowyg-editor {
  border: none;
}

.trumbowyg-fullscreen .trumbowyg-editor,
.trumbowyg-fullscreen .trumbowyg-textarea {
  height: calc(100% - 37px) !important;
  overflow: auto;
}

.trumbowyg-fullscreen .trumbowyg-overlay {
  height: 100% !important;
}

.trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #222;
  fill: transparent;
}

.trumbowyg-editor {
  /*
     * lset for resetCss option
     */
}

.trumbowyg-editor object,
.trumbowyg-editor embed,
.trumbowyg-editor video,
.trumbowyg-editor img {
  max-width: 100%;
}

.trumbowyg-editor video,
.trumbowyg-editor img {
  height: auto;
}

.trumbowyg-editor img {
  cursor: move;
}

.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  color: #333;
}

.trumbowyg-editor.trumbowyg-reset-css a {
  color: #15c !important;
  text-decoration: underline !important;
}

.trumbowyg-editor.trumbowyg-reset-css div,
.trumbowyg-editor.trumbowyg-reset-css p,
.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol,
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
  line-height: 1.4em !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  border: none;
}

.trumbowyg-editor.trumbowyg-reset-css iframe,
.trumbowyg-editor.trumbowyg-reset-css object,
.trumbowyg-editor.trumbowyg-reset-css hr {
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css blockquote {
  margin-left: 32px !important;
  font-style: italic !important;
  color: #555;
}

.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol {
  padding-left: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css ul ul,
.trumbowyg-editor.trumbowyg-reset-css ol ol,
.trumbowyg-editor.trumbowyg-reset-css ul ol,
.trumbowyg-editor.trumbowyg-reset-css ol ul {
  border: none;
  margin: 2px !important;
  padding: 0 !important;
  padding-left: 24px !important;
}

.trumbowyg-editor.trumbowyg-reset-css hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid #CCC;
}

.trumbowyg-editor.trumbowyg-reset-css h1,
.trumbowyg-editor.trumbowyg-reset-css h2,
.trumbowyg-editor.trumbowyg-reset-css h3,
.trumbowyg-editor.trumbowyg-reset-css h4 {
  color: #111;
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

.trumbowyg-editor.trumbowyg-reset-css h1 {
  font-size: 32px !important;
  line-height: 38px !important;
  margin-bottom: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h2 {
  font-size: 26px !important;
  line-height: 34px !important;
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin-bottom: 7px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 7px !important;
}

/*
 * Dark theme
 */

.trumbowyg-dark .trumbowyg-textarea {
  background: #111;
  color: #ddd;
}

.trumbowyg-dark .trumbowyg-box {
  border: 1px solid #343434;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-fullscreen {
  background: #111;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
  text-shadow: 0 0 7px #ccc;
}

@media screen and (min-width: 0 \0 ) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

.trumbowyg-dark .trumbowyg-box svg {
  fill: #ecf0f1;
  color: #ecf0f1;
}

.trumbowyg-dark .trumbowyg-button-pane {
  background-color: #222;
  border-bottom-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane::after {
  background: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty)::before {
  background-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-dark .trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before {
  background-color: #2a2a2a;
}

.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-dark .trumbowyg-button-pane button.trumbowyg-active {
  background-color: #333;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  border-top-color: #fff;
}

.trumbowyg-dark .trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #ecf0f1;
  fill: transparent;
}

.trumbowyg-dark .trumbowyg-dropdown {
  border-color: #222;
  background: #333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.trumbowyg-dark .trumbowyg-dropdown button {
  background: #333;
  color: #fff !important;
}

.trumbowyg-dark .trumbowyg-dropdown button:hover,
.trumbowyg-dark .trumbowyg-dropdown button:focus {
  background: #222;
}

.trumbowyg-dark .trumbowyg-modal-box {
  background-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-title {
  border-bottom: 1px solid #555;
  color: #fff;
  background: #3c3c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border-color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label input {
  border-color: #222;
  color: #eee;
  background: #333;
}

.trumbowyg-dark .trumbowyg-modal-box label input:hover,
.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  border-color: #626262;
}

.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  background-color: #2f2f2f;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  background: #1b7943;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover,
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #25a25a;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #176437;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  background: #333;
  color: #ccc;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover,
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #444;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #111;
}

.trumbowyg-dark .trumbowyg-overlay {
  background-color: rgba(15, 15, 15, 0.6);
}

.full-width-navbar {
  background: #F2F2F2;
  margin: 0;
  width: 100%;
  height: 55px;
  -webkit-box-shadow: 2px 4px 6px -4px rgba(186, 186, 186, 0.7);
  box-shadow: 2px 4px 6px -4px rgba(186, 186, 186, 0.7);
}

.full-width-navbar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
}

@media screen and (max-width: 1550px) {
  .full-width-navbar .main-nav {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .full-width-navbar .main-nav {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .full-width-navbar .main-nav {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .full-width-navbar .main-nav {
    width: 82%;
  }
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.full-width-navbar .main-nav .menu-burger {
  display: block;
  background: transparent url("/img/menu.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
  width: 34px;
  height: 34px;
  display: none;
  margin-top: 11px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav .menu-burger {
    display: block;
  }
}

.full-width-navbar .main-nav .menu-burger:hover {
  display: block;
  background: transparent url("/img/menu-hov.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.full-width-navbar .main-nav ul.left-nav,
.full-width-navbar .main-nav ul.right-nav {
  list-style-type: none;
  position: relative;
  width: 45%;
  padding: 0;
  z-index: 555;
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav ul.left-nav,
  .full-width-navbar .main-nav ul.right-nav {
    width: 100%;
    display: none;
  }
}

.full-width-navbar .main-nav ul.left-nav li,
.full-width-navbar .main-nav ul.right-nav li {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav ul.left-nav li,
  .full-width-navbar .main-nav ul.right-nav li {
    width: 100%;
    line-height: 2.4;
  }
}

.full-width-navbar .main-nav ul.left-nav {
  margin-top: 17px;
}

.full-width-navbar .main-nav ul.right-nav {
  text-align: right;
  position: relative;
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav ul.right-nav {
    text-align: left;
  }
}

.full-width-navbar .main-nav ul.left-nav li a {
  margin-right: 25px;
}

.full-width-navbar .main-nav ul.left-nav li a:nth-child(3) {
  margin-right: 0;
}

.full-width-navbar .main-nav ul.right-nav li {
  margin-left: 25px;
  margin-top: -60px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .full-width-navbar .main-nav ul.right-nav li {
    margin-left: 0;
  }
}

.full-width-navbar .main-nav ul.right-nav li:last-child {
  top: 5px;
}

.index-posts-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1550px) {
  .index-posts-container {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .index-posts-container {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .index-posts-container {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .index-posts-container {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .index-posts-container {
    width: 82%;
  }
}

@media screen and (max-width: 900px) {
  .index-posts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

.post {
  border-radius: 3px;
  background: #00FFBA;
  position: relative;
  width: 45%;
  border-top: 1px solid #202020;
  margin-top: 0;
  margin-bottom: 110px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: visible;
  line-break: auto;
  padding: 8px;
  -webkit-box-shadow: 2px 4px 19px -4px rgba(186, 186, 186, 0.4);
  box-shadow: 2px 4px 19px -4px rgba(186, 186, 186, 0.4);
}

@media screen and (max-width: 900px) {
  .post {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.post h1,
.post p {
  margin: 7px 0;
}

.post .date {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.post:hover {
  background: #FFCC00;
  border-top: 10px solid #FF108C;
  padding: 9px;
}

.post-full {
  width: 100%;
}

.comment-divider {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  border: 1px dashed #E3E3E3;
}

@media screen and (max-width: 1550px) {
  .comment-divider {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .comment-divider {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .comment-divider {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .comment-divider {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .comment-divider {
    width: 82%;
  }
}

.post-readfull-wrap {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
}

@media screen and (max-width: 1550px) {
  .post-readfull-wrap {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .post-readfull-wrap {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .post-readfull-wrap {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .post-readfull-wrap {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .post-readfull-wrap {
    width: 82%;
  }
}

.post-readfull-wrap h1:first-child {
  background: #00FFBA;
  padding: 20px;
}

.post-readfull-wrap .post-content {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .post-readfull-wrap .post-content {
    margin-top: 35px;
  }
}

.post-readfull-wrap .post-writer {
  margin-top: -25px;
}

@media screen and (max-width: 900px) {
  .post-readfull-wrap .post-writer {
    margin-top: -10px;
  }
}

.post-readfull-wrap .post-content .content-p {
  letter-spacing: 0.4px;
  word-spacing: 2px;
  line-height: 1.41;
}

.post-readfull-wrap .post-content .content-ol {
  letter-spacing: 0.4px;
  word-spacing: 2px;
  line-height: 1.5;
}

.post-comments {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1550px) {
  .post-comments {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .post-comments {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .post-comments {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .post-comments {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .post-comments {
    width: 82%;
  }
}

@media screen and (max-width: 900px) {
  .post-comments {
    width: 100%;
  }
}

.post-comments h2:nth-child(2) {
  text-align: center;
}

.post-comments .comments-form-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.post-comments .comments-form-wrapper input:not(input[type=submit]),
.post-comments .comments-form-wrapper textarea {
  display: block;
  width: 100%;
  border-bottom: 0;
  height: 72px;
}

.post-comments .comments-form-wrapper textarea {
  resize: none;
}

.post-comments .comments-form-wrapper input[type=submit] {
  height: 35px;
  width: 100%;
}

.post-comments .comments-list {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  margin-top: 50px;
}

.post-comments .comments-list .user-comment {
  width: 100%;
  border: 1px solid #FF108C;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 2px 4px 6px -4px rgba(186, 186, 186, 0.8);
  box-shadow: 2px 4px 6px -4px rgba(186, 186, 186, 0.8);
}

.post-comments .comments-list .user-comment p {
  margin: 4px;
  position: relative;
}

.post-comments .comments-list .user-comment p span {
  position: absolute;
  right: 0;
  top: 0;
}

.post-comments .comments-list .single-comment {
  border: 1px solid #FF108C;
  border-radius: 5px;
}

.post-comments .comments-list .two-comments:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.post-comments .comments-list .two-comments:last-child {
  border-radius: 0 0 5px 5px;
}

.post-comments .comments-list .multiple-comments:not(:last-child),
.post-comments .comments-list .multiple-comments:first-child {
  border-bottom: 0;
}

.post-comments .comments-list .multiple-comments:first-child {
  border-radius: 5px 5px 0 0;
}

.post-comments .comments-list .multiple-comments:last-child {
  border-radius: 0 0 5px 5px;
}

.post-comments .comments-list .multiple-comments:hover,
.post-comments .comments-list .two-comments:hover,
.post-comments .comments-list .single-comment:hover {
  border-top: 10px solid #FF108C;
  background: #FFCC00;
}

.admin-login {
  display: block;
  width: 85%;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.admin-login h1 {
  text-align: center;
}

.admin-login .admin-form-wrap {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
}

.admin-login .admin-form-wrap input {
  display: block;
  width: 100%;
  padding: 15px 12px;
}

.admin-login .admin-form-wrap input:first-child {
  border-radius: 7px 7px 0 0;
  border-bottom: 0;
}

.admin-login .admin-form-wrap input:nth-child(2) {
  border-top: 1px dashed #00FFBA;
  border-bottom: 0;
}

.admin-login .admin-form-wrap .submit-wrap button {
  width: 100%;
  height: 25px;
  padding: 20px;
  border-radius: 0 0 7px 7px;
}

.admin-login .admin-form-wrap .submit-wrap button span {
  position: relative;
  top: -8px;
  letter-spacing: -0.4px;
}

.status-post {
  display: none;
  width: 45%;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  background: #e9ffed;
  border: 1px solid #e9eef3;
  border-radius: 7px;
  margin-top: 50px;
  padding: 3px;
  text-align: center;
}

.status-post p {
  text-align: center;
  margin: 18px auto;
}

.page-wrapper-posts-hide {
  opacity: 0.2;
}

.page-wrapper-posts-show {
  opacity: 1;
}

.pop-delete {
  display: none;
  position: absolute;
  width: 450px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  background: #F8F8F8;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 555;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.pop-delete button:hover {
  background: #00FFBA;
}

.admin-posts {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  margin-top: 170px;
}

@media screen and (max-width: 1550px) {
  .admin-posts {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .admin-posts {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .admin-posts {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .admin-posts {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .admin-posts {
    width: 82%;
  }
}

.admin-posts .posts-container {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin-posts .posts-container .posts .fetched-post {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row-wrap;
  flex-flow: row-wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.admin-posts .posts-container .posts .fetched-post:hover {
  background: #F5F5F5;
}

.admin-posts .posts-container .posts .fetched-post .edit {
  list-style-type: none;
  display: inline-block;
  width: 25%;
}

@media screen and (max-width: 900px) {
  .admin-posts .posts-container .posts .fetched-post .edit {
    width: 35%;
  }
}

.admin-posts .posts-container .posts .fetched-post .edit li {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.admin-posts .posts-container .posts .fetched-post .post-id {
  width: 80px;
}

.admin-posts .posts-container .posts .fetched-post .post-id p {
  margin-top: 17px;
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .admin-posts .posts-container .posts .fetched-post .post-id p {
    text-align: center;
    margin-top: 17px;
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .admin-posts .posts-container .posts .fetched-post .post-id,
  .admin-posts .posts-container .posts .fetched-post .checkbox {
    width: 50px;
  }
}

.admin-posts .posts-container .posts .fetched-post .status {
  width: 20px;
  height: 20px;
}

.admin-posts .posts-container .posts .fetched-post .checkbox {
  width: 4%;
  height: 100%;
}

.admin-posts .posts-container .posts .fetched-post .checkbox div {
  margin-top: 9px;
  margin-left: 5px;
}

.admin-posts .posts-container .posts .fetched-post .hidden {
  display: block;
  background: transparent url("/img/hidden-yes.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.admin-posts .posts-container .posts .fetched-post .visible {
  display: block;
  background: transparent url("/img/hidden-no.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.admin-posts .posts-container .posts .fetched-post .post-info {
  width: 80%;
  margin-top: 3px;
}

@media screen and (max-width: 1350px) {
  .admin-posts .posts-container .posts .fetched-post .post-info {
    width: 65%;
  }
}

.admin-posts .posts-container .posts .fetched-post .post-info p {
  margin: 0;
}

.admin-posts .posts-container .posts .fetched-post .post-info p:nth-child(2) {
  word-spacing: 1px;
}

.admin-posts .posts-container .header {
  width: 100%;
  height: 50px;
  background: #f6f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-posts .posts-container .header ul {
  width: inherit;
  text-align: right;
  list-style-type: none;
  padding-right: 5px;
}

.admin-posts .posts-container .header ul li {
  display: inline-block;
  margin: 0 9px;
}

.admin-posts .posts-container .header ul li .dropdown {
  width: auto;
}

.admin-posts .posts-container .header .mark-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 112px;
}

.admin-posts .posts-container .header .mark-all span:nth-child(2) {
  margin-left: 7px;
  margin-top: -2px;
}

.admin-posts .posts-inputs-wrap {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.admin-posts .posts-inputs-wrap .search-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.admin-posts .posts-inputs-wrap .search-wrap input {
  width: 40%;
}

.admin-posts .posts-inputs-wrap .left-inputs {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: flex-wrap;
  flex-flow: flex-wrap;
}

.admin-posts .posts-inputs-wrap .left-inputs button {
  margin-right: 10px;
}

.admin-posts .posts-inputs-wrap .left-inputs .delete-posts {
  height: 35px;
  width: 180px;
  border: 1px solid #202020;
}

.nopage {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  margin-top: 250px;
  background: #FFE0E0;
  padding: 20px;
}

@media screen and (max-width: 1550px) {
  .nopage {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .nopage {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .nopage {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .nopage {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .nopage {
    width: 82%;
  }
}

.nopage h1,
.nopage p {
  text-align: center;
  margin: 2px;
}

.about-me {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  margin-top: 70px;
}

@media screen and (max-width: 1550px) {
  .about-me {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .about-me {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .about-me {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .about-me {
    width: 82%;
  }
}

.about-me .bla-bla {
  line-height: 1.4;
  word-spacing: 1px;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  margin-top: 70px;
}

@media screen and (max-width: 1550px) {
  .contact-form {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .contact-form {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .contact-form {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .contact-form {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .contact-form {
    width: 82%;
  }
}

.contact-form .contact-form-wrap textarea {
  height: 150px;
}

.contact-form .contact-form-wrap input {
  width: 100%;
  height: 55px;
}

.font-xthin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.font-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.font-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.font-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.font-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.text-xl {
  font-size: 50px;
}

@media screen and (max-width: 1350px) {
  .text-xl {
    font-size: 47px;
  }
}

@media screen and (max-width: 900px) {
  .text-xl {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .text-xl {
    font-size: 35px;
  }
}

.text-md {
  font-size: 30px;
}

@media screen and (max-width: 1350px) {
  .text-md {
    font-size: 27px;
  }
}

@media screen and (max-width: 900px) {
  .text-md {
    font-size: 23px;
  }
}

@media screen and (max-width: 550px) {
  .text-md {
    font-size: 21px;
  }
}

.text-base {
  font-size: 18px;
}

@media screen and (max-width: 1350px) {
  .text-base {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .text-base {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .text-base {
    font-size: 15px;
  }
}

.text-ptitle {
  font-size: 17px;
}

@media screen and (max-width: 1350px) {
  .text-ptitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .text-ptitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .text-ptitle {
    font-size: 15px;
  }
}

.text-sm {
  font-size: 15px;
}

@media screen and (max-width: 1550px) {
  .text-sm {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .text-sm {
    font-size: 15px;
  }
}

.text-xs {
  font-size: 13px;
}

@media screen and (max-width: 900px) {
  .text-xs {
    font-size: 12px;
  }
}

.text-cauthor {
  font-size: 17px;
}

@media screen and (max-width: 900px) {
  .text-cauthor {
    font-size: 12px;
  }
}

.text-post-table {
  font-size: 14px;
}

@media screen and (max-width: 1550px) {
  .text-post-table {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .text-post-table {
    font-size: 12px;
  }
}

.text-post-title {
  font-size: 14px;
}

@media screen and (max-width: 1550px) {
  .text-post-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .text-post-title {
    font-size: 12px;
  }
}

.text-nav {
  font-size: 14px;
}

@media screen and (max-width: 1550px) {
  .text-nav {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .text-nav {
    font-size: 12px;
  }
}

.text-usernav-left {
  font-size: 13px;
}

@media screen and (max-width: 1550px) {
  .text-usernav-left {
    font-size: 13px;
  }
}

@media screen and (max-width: 1350px) {
  .text-usernav-left {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .text-usernav-left {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .text-usernav-left {
    font-size: 20px;
  }
}

.text-usernav-right {
  font-size: 13px;
}

@media screen and (max-width: 1550px) {
  .text-usernav-right {
    font-size: 13px;
  }
}

@media screen and (max-width: 1350px) {
  .text-usernav-right {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .text-usernav-right {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .text-usernav-right {
    font-size: 15px;
  }
}

.text-heading-green {
  background: #00FFBA;
  text-align: center;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-white {
  color: white;
}

.text-dark {
  color: #202020;
}

.text-pink {
  color: #FF108C;
}

.text-error {
  color: #FF3434;
}

.text-gray {
  color: #8B8B8B;
}

.text-highlight {
  color: white;
  background: #FF108C;
  padding: 1px;
}

.link-usernav {
  text-decoration: none;
  color: #202020;
}

.link-usernav:hover {
  color: #FF108C;
}

.link-postitle {
  text-decoration: none;
  color: #FF108C;
}

.link-postitle:hover {
  color: #6d6d6d;
}

.link-postitle:active,
.link-postitle:focus {
  color: #202020;
}

.link-default {
  text-decoration: none;
  color: #202020;
}

.link-default:hover {
  color: #6d6d6d;
}

.link-default:active,
.link-default:focus {
  color: #FF108C;
}

.link-pink {
  text-decoration: none;
  color: #FF108C;
}

.link-pink:hover {
  color: #202020;
}

.link-pink:active,
.link-pink:focus {
  color: #FF108C;
}

.link-nav-admin {
  text-decoration: none;
  color: #202020;
}

.link-nav-admin:hover {
  color: #FF108C;
}

.link-nav-admin:active,
.link-nav-admin:focus {
  color: #202020;
}

.icon-search {
  display: inline-block;
  display: block;
  background: transparent url("/img/search.png") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-search:hover {
  display: block;
  background: transparent url("/img/search-hov.png") no-repeat;
  background-size: 100%;
  background-position: 90%;
}

.dropdown {
  width: 11px;
  height: 11px;
  margin-left: 6px;
}

.dropdown-img {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.dropdown-img-filter {
  margin-top: 1px;
  margin-right: 10px;
}

.icon-success {
  display: inline;
  display: block;
  background: transparent url("/img/success.png") no-repeat;
  background-size: 100%;
  background-position: 50%;
  width: 55px;
  height: 55px;
  margin-top: 6px;
}

.icon-page,
.icon-edit {
  width: 20px;
  height: 20px;
}

.icon-edit {
  display: block;
  background: transparent url("/img/edit.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.icon-page {
  display: block;
  background: transparent url("/img/page.png") no-repeat;
  background-size: 100%;
  background-position: 100%;
}

.input-comment,
.textbox-comment {
  width: 100%;
  border: 0;
  border: 1px solid #FF108C;
  padding: 15px 8px;
  resize: none;
  -webkit-transition: 0.38s ease-in;
  transition: 0.38s ease-in;
}

.input-comment:nth-child(2),
.input-comment:nth-child(3) {
  border-top: 0;
  border-radius: 0;
}

.input-comment {
  border-radius: 7px 7px 0 0;
  border-bottom: 1px dashed #D7D7D7;
}

.textbox-comment {
  height: 82px;
  border-top: 0;
  border-bottom: 0;
}

textarea:focus,
textarea:active,
select:active,
select:focus,
input:active,
input:focus,
button:active,
button:focus {
  outline: 0;
}

.search-input:placeholder {
  color: #000000;
  text-align: center;
}

.label-comment {
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
}

.comments-submit {
  display: block;
  background: white;
  border: 1px solid #FF108C;
  color: #202020;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border-radius: 0 0 7px 7px;
  margin-top: -3.5px;
}

.input-post-add {
  border: 1px solid #00FFBA;
}

.comments-submit:hover {
  background: #00FFBA;
}

.login-input {
  border: 1px solid #00FFBA;
}

.login-button {
  border: 1px solid #00FFBA;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-button:hover {
  background: #00FFBA;
  cursor: pointer;
}

.admin-input-searchPosts {
  border: 1px solid #202020;
  height: 35px;
  padding: 10px;
  display: block;
  background: transparent url("/img/search.png") no-repeat;
  background-size: 6.5%;
  background-position: 90%;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.admin-input-searchPosts:focus,
.admin-input-searchPosts:active {
  border: 1px solid #FF108C;
  display: block;
  background: transparent url("/img/search-hov.png") no-repeat;
  background-size: 6.5%;
  background-position: 90%;
}

.input-select-posts {
  width: 10%;
  padding: 2px 10px;
  height: 35px;
  border: 1px solid #202020;
  cursor: pointer;
}

.input-error,
.input-error::-webkit-input-placeholder {
  color: #FF3434;
}

.input-error,
.input-error:-ms-input-placeholder {
  color: #FF3434;
}

.input-error,
.input-error::-ms-input-placeholder {
  color: #FF3434;
}

.input-error,
.input-error::placeholder {
  color: #FF3434;
}

.posts-search {
  height: 37px;
  border: 1px solid #E5E5E5;
  border-right: 0;
  padding: 7px;
  -webkit-box-shadow: inset 0px 1px 7px 0.2px #ECECEC;
  box-shadow: inset 0px 1px 7px 0.2px #ECECEC;
}

.label-search-submit {
  width: 50px;
  height: 37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #E5E5E5;
  border-radius: 0 9px 9px 0;
  display: block;
  background: #F4F4F4 url("/img/search.png") no-repeat;
  background-size: 29%;
  background-position: 50%;
  cursor: pointer;
}

.label-search-submit:hover {
  display: block;
  background: #f1f1f1 url("/img/search.png") no-repeat;
  background-size: 29%;
  background-position: 50%;
}

.checkbox-delete {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox-delete .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #FF108C;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-right: 5px;
}

.checkbox-delete .checkbox-innactive {
  display: inherit;
  background: #ffa9d6;
}

.checkbox-wrap {
  display: block;
  margin-top: 5px;
}

.checkbox-wrap .checkbox-pink {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #8A8A8A;
  padding: 7px;
}

.checkbox-wrap .checkbox-active {
  display: block;
  background: transparent url("/img/checked.png") no-repeat;
  background-size: 65%;
  background-position: 50%;
  display: inline-block;
}

.checkbox-wrap span {
  position: relative;
  top: -4px;
}

.checkbox-variant {
  width: 17px;
  height: 17px;
  display: block;
  background: #DCDCDC;
  border: 1px solid #f6f8fa;
  position: relative;
  cursor: pointer;
  top: -2px;
}

.checkbox-variant:hover {
  background: #E1E1E1;
}

.correct-this-shit .checkbox-variant-checked {
  left: 3px;
  top: 3px;
}

.checkbox-variant-checked {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background: #474747;
  left: -2px;
  top: -6px;
}

.search-layer {
  display: hidden;
  position: fixed;
  background: #F0F0F0;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  text-align: center;
  z-index: 5555;
}

.search-layer .close {
  position: absolute;
  right: 50%;
  top: 7%;
  font-size: 25px;
  color: #202020;
  cursor: pointer;
}

.search-layer .close:hover {
  color: #FF108C;
}

.search-layer input {
  margin-top: 150px;
  width: 60%;
  height: 150px;
  border: 0;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #FF108C;
  background: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 900px) {
  .search-layer input {
    width: 80%;
  }
}

.search-layer input::-webkit-input-placeholder {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.search-layer input:-ms-input-placeholder {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.search-layer input::-ms-input-placeholder {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.search-layer input::placeholder {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.search-layer .search-results {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.loader .search-loader {
  border: 7px solid #525252;
  border-top: 7px solid #FF108C;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: auto;
  margin-top: 120px;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button-pink {
  border: 1px solid #FF108C;
  background: white;
  height: 40px;
  width: 180px;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
}

.button-pink:hover {
  border: 1px solid #dc0072;
}

.button-pink span:first-child {
  display: inline-block;
  margin-top: 10px;
}

.button-new-post,
.button-delete-post {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.button-new-post span,
.button-delete-post span {
  width: 100%;
  position: absolute;
  left: 25px;
  top: 11px;
}

.btn-delete {
  cursor: pointer;
  background: transparent;
  border: 1px solid #00FFBA;
  padding: 5px;
  border-radius: 3px;
  height: 40px;
  width: 32%;
}

.button-new-post {
  width: 190px;
  height: 37px;
  display: block;
  background: #FFCC00 url("/img/pencil.png") no-repeat;
  background-size: 10%;
  background-position: 90%;
}

.button-new-post:hover {
  display: block;
  background: #00FFBA url("/img/pencil.png") no-repeat;
  background-size: 10%;
  background-position: 90%;
}

.button-delete-post {
  width: 40px;
  height: 37px;
  display: block;
  background: #FF6E6E url("/img/delete.png") no-repeat;
  background-size: 45%;
  background-position: 50%;
}

.button-delete-post:hover {
  display: block;
  background: #ff5f5f url("/img/delete.png") no-repeat;
  background-size: 45%;
  background-position: 50%;
}

.button-admin-posts-filter {
  border: 1px solid #E5E5E5;
  border-right: 0;
  border-radius: 8px 0 0 8px;
  height: 37px;
  width: 120px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #f2f2f2), color-stop(70%, #f0f0f0));
  background: linear-gradient(to top, #f2f2f2 20%, #f0f0f0 70%);
}

.post-popup {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}

.post-popup .post-popup-close {
  text-align: center;
  cursor: pointer;
  width: 100%;
  background: #FFCC00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
  padding: 20px;
}

.post-popup .error-field {
  margin-top: 20px;
}

.post-popup .post-popup-close:hover {
  background: #00FFBA;
}

.post-popup .fields {
  width: 80%;
  padding: 80px;
  display: block;
  padding: 20px 120px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1550px) {
  .post-popup .fields {
    width: 80%;
  }
}

@media screen and (max-width: 1350px) {
  .post-popup .fields {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .post-popup .fields {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .post-popup .fields {
    width: 100%;
  }
}

@media screen and (max-width: 1550px) {
  .post-popup .fields {
    padding: 80px;
  }
}

@media screen and (max-width: 1350px) {
  .post-popup .fields {
    padding: 80px;
  }
}

@media screen and (max-width: 900px) {
  .post-popup .fields {
    padding: 60px;
  }
}

@media screen and (max-width: 550px) {
  .post-popup .fields {
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .post-popup .fields {
    padding: 10px;
  }
}

.post-popup .fields .field-wrap {
  position: relative;
}

.post-popup .fields input,
.post-popup .fields textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DFDFDF;
  margin-top: 11px;
  margin-bottom: 11px;
}

.post-popup .fields input::-webkit-input-placeholder,
.post-popup .fields input,
.post-popup .fields textarea {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.post-popup .fields input:-ms-input-placeholder,
.post-popup .fields input,
.post-popup .fields textarea {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.post-popup .fields input::-ms-input-placeholder,
.post-popup .fields input,
.post-popup .fields textarea {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.post-popup .fields input::placeholder,
.post-popup .fields input,
.post-popup .fields textarea {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1550px) {
  .post-popup .fields input::-webkit-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 14px;
  }

  .post-popup .fields input:-ms-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 14px;
  }

  .post-popup .fields input::-ms-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 14px;
  }

  .post-popup .fields input::placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .post-popup .fields input::-webkit-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 15px;
  }

  .post-popup .fields input:-ms-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 15px;
  }

  .post-popup .fields input::-ms-input-placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 15px;
  }

  .post-popup .fields input::placeholder,
  .post-popup .fields input,
  .post-popup .fields textarea {
    font-size: 15px;
  }
}

.post-popup .fields input[type=text] {
  height: 40px;
}

.post-popup .fields textarea {
  resize: none;
}

.post-popup .fields .post-add-submit {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #C8C8C8;
  background: #FFB400;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.post-popup .fields .post-add-submit:hover {
  background: #00FFBA;
}

.content-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-bottom: 1px solid #00FFBA;
  border-top: 1px solid #00FFBA;
}

.text-editor-wrap {
  width: 90%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
}

.text-editor-wrap .text-editor-core {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.error-field {
  display: none;
  background: #FFE0E0;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  overflow: hidden;
  padding: 15px;
  border-radius: 2px;
}

@media screen and (max-width: 1550px) {
  .error-field {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .error-field {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .error-field {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .error-field {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .error-field {
    width: 82%;
  }
}

.error-field p,
.error-field h3 {
  margin: 4px;
}

.error-field span {
  position: absolute;
  top: 5px;
  right: 5px;
}